#header {
    width: 100%;
    height: 80px;
    background: #b6cddd;
}

#header-wrapper {
    display: flex;
    align-items: center;
    max-width: 900px;
    height: 80px;
    margin: 0 auto;
}

#logo {
    width: 150px;
    height: 80px;
    background: url(../logo.svg);
    background-size: 150px 80px;
    background-position: -20px 0;
}

#content {
    display: table;
    width: 100%;
    height: auto;
    background: #f7fafc;
    padding-top: 20px;
    padding-bottom: 20px;
}

#content-wrapper {
    max-width: 900px;
    margin: 0 auto;
}

#sidebar, #article { float: left; }

/* side bar */

#sidebar {
    width: 250px;
    height: 400px;
    background: #dbe4ef;
    margin-right: 20px;
    border-radius: 10px;
    padding: 10px 15px 10px 15px;
}

#menu-title {
    font-size: 1.1em;
    font-weight: bold;
    color: #2d358a;
    margin-bottom: 10px;
}

#menu {
    margin-bottom: 30px;
    height: calc(100% - 120px);
}

#menu li {
    width: 100%;
    background: #2d358a;
    margin-bottom: 5px; 
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 0.9em;
}

#menu li:hover {
    background: #3e448a;
}

#menu a { 
    display: inline-block;
    width: 100%;
    color: #ffffff;
    text-decoration: none;
}

/* content area */

#article {
    width: calc(100% - (250px + 20px));
    height: 100%;
    background: #ebeef2;
    border-radius: 10px;
    padding: 30px;
}

#banner {
    width: 100%;
    height: 150px;
    background: url(../../banner-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 30px;
    border-radius: 10px;
    overflow: hidden;
}

#banner-text {
    position: relative;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent 28%, rgba(9,9,121,1) 90%, rgba(9,9,121,1) 96%);
    font-size: 1.3em;
    text-transform: uppercase;
    padding: 10px 20px 0 0;
}

#banner-text h1 { 
    position: absolute;
    right: 20px;
    bottom: 10px;
    color: #ffffff; 
}

#article p {
    margin-bottom: 10px;
}

/* progress bar */

#progress-area {
    height: 60px;
}

#progress-area p {
    font-size: 0.9em;
    margin-bottom: 5px;
    font-weight: bold;
}

#progress-bar {
    position: relative;
    width: 100%;
    height: 30px;
    background: #b6cddd;
    border-radius: 5px;
    overflow: hidden;
}

#progress-bar p { margin-bottom: 10px; }

#progress {
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: inherit;
    background: blue;
    text-align: right;
}

#progress-value {
    position: absolute;
    z-index: 2;
    padding-left: 5px;
    color: #ffffff;
    line-height: 30px;
}

.check-icon {
    color: green;
    padding-right: 5px;
    display: none;
}

/* resolucoes de video */
#resolucoes {
    margin-top: 10px;
}

#resolucoes label {
    margin-right: 2px;
    font-weight: bold;
}

#resolucoes input {
    margin-right: 8px;
}

video {
    border-radius: 5px;
}

/* listas */

#list li {
    margin-bottom: 10px;
    padding-left: 5px;
    border-left: 2px solid #2d358a;
}